<h1>reservations/index.html.erb</h1>
<h1>予約一覧</h1>

<%= link_to "product一覧", :products %>
<% @reservations.each do |reservation| %>
  <p>------------------------------------------------------</p>
  <table class="show-table">
    <tr>
     <th>product画像</th>
     <% if reservation.product.image?%>
       <td><%= image_tag reservation.product.image, size: '50x50' %></td>
     <% else %>
       <td><%= image_tag 'no_image.png', size: '50x50' %></td>
     <%end%>
    </tr>
    <tr>
      <th>product名</th>
      <td><%= reservation.product.name %></td>
    </tr>
    <tr>
      <th>コンテント</th>
      <td><%= reservation.product.content %></td>
    </tr>
    <tr>
    <tr>
      <th>開始日</th>
      <td><%= reservation.start_date.to_formatted_s(:date_jp) %></td>
    </tr>
    <tr>
      <th>終了日</th>
      <td><%= reservation.end_date.to_formatted_s(:date_jp) %></td>
    </tr>
    <tr>
      <th>合計金額</th>
      <td><%= reservation.sum_of_amount %>円</td>
    </tr>
    <tr>
      <th>予約した日にち</th>
      <td><%= reservation.created_at.to_formatted_s(:date_jp) %></td>
    </tr>
  </table>
  <p><%= link_to '予約キャンセル', reservation_path(reservation), data: { turbo_method: :delete, turbo_confirm: "予約をキャンセルしますか？" } %></p>
<% end %>
